@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script&family=Pacifico&family=Patua+One&family=Redressed&family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Comforter&family=Dancing+Script&family=Pacifico&family=Patua+One&family=Redressed&family=Ubuntu+Mono:wght@700&display=swap');
*{
    margin: 0;
    padding:0;

}
.intro{
    background: url('../IMAGES/bg.jpg') no-repeat center center/cover;

}
.navbar{
     display: flex;
    /* border-bottom: 2px solid #4d3733; */
    /* background: url(../IMAGES/middle\ Img.jpg); */
    background-size: cover;
    /* background-blend-mode: darken; */
    height: 80px;
    width: 100vw;
    position: fixed;
    background-color: rgb(0 0 0 / 45%);
    
}
.nav{
    color: gold;
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    right: 20px;
    width: 1000px;
    
}
.logo img{
    width:100px;
    height: 80px;
    border: 2px;
    border-radius: 55px;
    margin-left: 50px;
}
.nav-content{
    display: flex;
    flex-direction: row;
    font-size: 22px;
    

    
}
.nav-content li{
    list-style: none;
    margin: 20px auto ;
    height: fit-content;
    padding: 10px auto ;
   
    
}
.nav-content li a{
    text-decoration: none;
    color: gold;
    font-weight: bold;
    font-family: 'Anek Malayalam', sans-serif;
   
}
.nav-content li a:hover{
    border-bottom: 2px solid;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
/* Middle page */
.mid{
    height: 800px;
    /* background: url('../IMAGES/middle\ Img.jpg') center center/cover; */
 
    display: flex;
    /* background: url(../IMAGES/middle\ Img.jpg) center center/cover; */
    align-items: center;
    justify-content: center;
}
.headlines{
    margin-top: 10px;
    /* display: inline-block; */
    /* position: absolute; */
    /* right: 150px; */
    color: gold;
    width: 750px;
    height: 300px;
    text-align: center;
    margin-left: 28%;
}
.headlines h1{
    font-weight: bold;
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 45px;
}
.headlines p{
    font-size: 25px;
    padding: 25px;
    font-family: 'Anek Malayalam', sans-serif;
}
.mid {
    height: 800px;
    display: flex;
    /* background: url(../IMAGES/middle\ Img.jpg) center center/cover; */
    align-items: center;
}
.btn{
    font-size: 20px;
    font-family: 'Anek Malayalam', sans-serif;
    /* border: 2px solid black; */
    border: 0ch;
    height: 60px;
    padding: 15px;
    border-radius: 29px;
    background-color: #684035;
    color: gold;
    width: 160px;

}
.btn:hover{
    background-color: #684035;
    color: white;
    cursor: pointer;
}

/* 
about us page */
.Head{
    display: flex;
    width: fit-content;
    margin:  2px auto;
}
.line{
    border: 2px solid #d7caca;
    height: 2px;
    width: 50px;
    border-radius: 10px;
    margin: auto 10px;
}
.about-us {
    height: 600px;
    
}
.about-us h1{
    text-align: center;
    font-family: 'Anek Malayalam', sans-serif;
    /* border: 2px solid black; */
    margin: 10px 0px;
    font-weight: bold;
    font-size: 30px;
    

}
.ac{
    display: flex;
    flex-direction: row;
    margin: 15px 150px;
}
.about-content{
    /* border: 2px solid black; */
    width: 400px;
    height: 450px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ac1 h1{
    font-family: 'Anek Malayalam', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 10px;


}
.about-content p{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 20px;
    padding: 20px 5px;
}
.menu-btn{
    text-align: center;
    margin: 0px auto;
    height: 50px;
    width: 130px;
    font-family: 'Anek Malayalam', sans-serif;
    background-color: white;
    border: 5x solid;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;


}
.menu-btn:hover{
    color: white;
    background-color: rgb(166, 158, 158);
    cursor: pointer;
    font-size: 16px;
}
.about-content img{
    height: 300px;
    width: 400px;
    margin: 0px;

}
#ac2 img{
height: 300px;
    width: 400px;
    margin: 0px;
}
#ac2  h3{
    font-family: 'Anek Malayalam', sans-serif;

}
#ac2 p{

    text-align: center;
}
#ac3 img{
    height: 300px;
    width: 400px;
    margin: 0px;
}
.about-content h3{
    margin-top: 10px;
    
}
.about-content p{
    
    padding:10px ;
}
/* The menu */
.the-menu{
    height: fit-content;
    /* border: 2px solid black ; */
}
.th-h1 h1{
    text-align: center;
    font-family: 'Anek Malayalam', sans-serif;
    /* border: 2px solid black; */
    margin: 10px 0px;
    font-weight: bold;
    font-size: 30px;
}
.th-h1 p{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px 5px;
    width: 1000px;
    margin: auto;
}
.menu-items{
    /* border: 2px solid black; */
    height: 400px;
    width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.item{
    /* border: 2px solid red; */
    height: 300px;
    width: 350px;
    margin: 10px auto;
}
.item img{
    height: 260px;
    width: 350px;
    border-radius: 35px;
}
.item h3{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 20px;
    /* text-align: center; */
}
.item p{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 20px;
}
.item-hp{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
}
/* .item-hp p{
   
} */
.addToCart{
    /* border: 2px solid black; */
    font-family: 'Anek Malayalam', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 2px 3px;
}


.item input[type='number']{
  
    font-family: 'Anek Malayalam', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    /* border: 2px solid black; */
    border-radius: 5px;
  

}
.price{
    display: flex;
    flex-direction: row;
    margin: 2px auto;
}

/* reservation page */
.reservation{
    height: 861px;
    /* border: 2px solid black ; */
}
.reservation-h1 h1{
    text-align: center;
    font-family: 'Anek Malayalam', sans-serif;
    /* border: 2px solid black; */
    margin: 10px 0px;
    font-weight: bold;
    font-size: 30px;
}
.reservation p{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px 5px;
    width: 1000px;
    margin: auto;
}
.reserv-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.reserv-container form{
        width: 800px;
    height: 230px;
    text-align: center;
    display:flex;
    flex-direction: column;
    margin: 10px auto;
    font-family: 'Anek Malayalam', sans-serif;

}
.reserv-container form input{
    height: 30px;
    width: 250px;
    margin: 20px;
    border: 2px solid black;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 10px;


}

.reserv-container form select {
    height: 30px;
    width: 100px;
    margin: 20px;
    /* border: 2px solid black; */
    padding-left: 10px;
    font-size: 18px;
    border-radius: 10px;

}
.reserv-container form input[type=button]{
    margin: 10px auto;
    /* border: 2px solid black; */
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Anek Malayalam', sans-serif;
    font-weight: bold;
    border-radius: 8px;
    background-color: #0e1014;
    color: white;

}
.reserv-container input[type=button]:hover{
    background:rgb(145 138 138);
    cursor: pointer;
}
.reserv-container form input[type=number] {
    height: 30px;
    width: 250px;
    /* margin: 20px; */
    padding-left: 10px;
    font-size: 18px;
    border-radius: 10px;

}
.reserv-container form label{
    font-size: 18px;
    font-family: 'Anek Malayalam', sans-serif;
    font-weight: bold;
    margin-left: 23px;

}
.pizza {
margin: 2px auto;
width: fit-content;
}
/* services section */
.services{
    height: 700px;
}
.service-h1 h1{
    text-align: center;
    font-family: 'Anek Malayalam', sans-serif;
    /* border: 2px solid black; */
    margin: 10px 0px;
    font-weight: bold;
    font-size: 30px;
}
.service-h1 p{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px 5px;
    width: 1000px;
    margin: auto;
}
.servSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 200px;
    margin-top: 50px;
}
.serBox{
    height: 400px;
    width: 300px;
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.serBox h3{
text-align: center;
font-family: 'Anek Malayalam', sans-serif;

}
.servP{
    text-align: center;
    font-family: 'Anek Malayalam', sans-serif;


}
.serBox img{
    width: 300px;
    height: 200px;
    margin: 2px auto;
}

/* contact us page */
.contact-us{
    height: 600px;
    margin-top: 30px;
}
.contact-us h1{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Anek Malayalam', sans-serif;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-form form input[type="button"]{
    margin-top: 10px;
    height: 45px;
    width: 150px;
    margin: 2px solid black;
    border-radius: 10px;
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.contact-form form input[type="button"]:hover{
    cursor: pointer;
    color: white;
    background: #b7b7b7;
    text-decoration: underline;
    font-weight: bold;
    color: gold;

}
.inp{
    margin: 10px auto;
    font-family: 'Anek Malayalam', sans-serif;
    padding-left: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.contact-form form input{
    width: 42vw;
    height: 45px;
}
#more{
    width: 42vw;
    height: 200px;
    padding-top: 10px;
}



/* Footer content */
footer{
    height: 50px;
    background-color: black;
    color: white;
    font-family: 'Anek Malayalam', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */


}
footer p{
    
    /* padding: 9px; */
}
/* Hamburger */
.hamburger{
   
    display: none;
    
}
